<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statify - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body id="home">
    <header class="header">
        <div class="title">
            <h1>Statify</h1>
        </div>
        <div class="profile" id="profile">
        </div>
    </header>
    <main class="container">
        <!-- <section class="login-section">
            <button id="login-btn" class="login-btn">Log in with Spotify</button>
        </section> -->
        <section class="navigation-section">
            <h2>Explore Statify Features</h2>
            <div class="nav-buttons">
                <a href="/sort" class="nav-btn">Sort Playlists</a>
                <a href="/graphs" class="nav-btn">Analyze Graphs</a>
            </div>
        </section>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
